article{

}

h1{
    font-size: medium;
}

.conjunto{
    border: 2px solid #343637;
    border-radius: 0px 0px 5px 5px;
    color: #D8D9DA;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.grade{
    text-align: left;
    padding-left: 25px;
    margin: auto;
    min-width: 350px;
    
    
}


.window{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 95%;

}


