input{
    width: 90%;
    height: 25px;
    color: black;
  }

  article{
    margin: 10px;
  }

  .linha{
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .div_numero{
    width: 5%;
  }
  
  .div_artigo{
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .titulo{
    width: 10%;
    color: white;
  }

  