input{
    width: 90%;
    height: 25px;
    color: black;
  }

  article{
    margin: 10px;
  }

  .linha{
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .div_numero{
    width: 5%;
  }
  
  .div_artigo{
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .titulo{
    width: 10%;
    color: white;
  }

  .botoes{
    width: 45%;
    display: flex;
    justify-content: space-between;
   
    margin: auto;
    margin-top: 25px;
  }

  :local(button) {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 205px;
    height: 64px;
  }

  button#bt1 {
    background-color: #2E8A99;
  
  } /* Green */
  button#bt2 {
    background-color: brown;
  } /* Blue */
  
  button#btx {
    background-color: red;
    border-radius: 5px;
    font-size: 12px;
    padding: 15px 15px;
    width: 48px;
    height: 48px;
  } /* Blue */
  
  button#bta {
    background-color: green;
    border-radius: 5px;
    font-size: 12px;
    padding: 15px 15px;
    width: 48px;
    height: 48px;
  } /* Blue */
  
  button#bt3 {background-color: #b3b32a;} /* Red */
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */
  .button5 {background-color: #555555;} /* Black */
  