.conjunto{
    border: 2px solid #343637;
    border-radius: 0px 0px 5px 5px;
    color: #D8D9DA;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

h2{
    padding-left: 25px;
    text-indent: 50px;
}

h2#atencao{
    color: #7a7961;
    padding-left: 25px;
}