.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.login_janela{
    margin-top: 7%;
    width: 392px;
    min-height: 580px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.login_janela#left{
    padding: 10px;
    text-align: left;
}

.login_janela#right{
    padding: 32px;
    text-align: left;
}

